<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand navbar-left" href="/P5"><img  style="max-width:70px; margin-top: -7px;" src="{{ asset('logo.png') }}">PARIS Jean-Christophe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/P5">Accueil</a>
                </li>
            </ul>
            <div class="col-md-3 text-end" style="opacity: 2">
                <a class="btn btn-outline-primary me-2" href="/P5/login">Connexion</a>
                <button type="button" class="btn btn-primary">Créé un compte</button>
            </div>
        </div>
    </div>
</nav>