{% extends 'base.twig' %}

{% block page_title %}ERROR{% endblock %}

{% block body %}
{#    {% if _error is defined and _error == "notallowed" %}#}
{#        <span>Vous n'avez pas accès à cette page.</span>#}
{#    {% else %}#}
        <span>Une erreur est survenue.</span>
{#    {% endif %}#}
{% endblock %}