<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand navbar-left" href="/P5"><img  style="max-width:70px; margin-top: -7px;" src="{{ asset('logo.png') }}">PARIS Jean-Christophe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/P5">Accueil</a>
                </li>
                {% if isConnect() %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/P5/article">Gestion Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/P5/gestcom">Gestion Commentaires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/P5/gestutil">Gestion Utilisateurs</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/P5/contact">Nous contacter</a>
                </li>
            </ul>
            {% if not isConnect() %}
                <div class="col-md-3 text-end" style="opacity: 2">
                    <a class="btn btn-outline-primary me-2" href="/P5/login">Connexion</a>
                    <a class="btn btn-primary" href="/P5/sign">Créé un compte</a>
                </div>
            {% else %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ session.user.nom }} {{ session.user.prenom }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/P5/profil">Profil</a></li>
                        <li><a class="dropdown-item" href="/P5/disconnect">Déconnexion</a></li>
                    </ul>
                </div>

            {% endif %}
        </div>
    </div>
</nav>